/* Conteneur principal */
.page-fond {
  position: absolute;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.les-cartes-container {
  padding: 90px;
  margin-left: 180px;
  margin-top: 150px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: transparent;
  text-align: center;
  position: relative;
}

/* Modal pour afficher la carte */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenu de la modal */
.modal-content {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  height: 70%;
  max-width: 1200px;
  max-height: 800px;
  align-items: flex-start;
  justify-content: center;
}

/* Colonne gauche avec l'image et le nom */
.modal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-right: 20px;
  margin-bottom: 10px;
}

/* Image agrandie dans la modal */
.modal-image {
  max-width: 300px;
  max-height: 300px;
  border: 5px solid #fff;
  border-radius: 10px;
}

/* Nom de la carte dans la modal */
.modal-left h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 20px;
}

/* Colonne droite avec les détails de la carte */
.modal-right {
  flex: 1;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 15px;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Détails de la carte */
.modal-right h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.modal-right p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/* Bouton de fermeture */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.2s ease;
  z-index: 1001;
}

.close-button:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.close-button:before {
  content: "×";
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

/* Grille des cartes */
.cartes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  justify-items: center;
}

/* Slot pour chaque carte */
.carte-slot {
  background-color: #ffffff;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
  height: 200px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.carte-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte-slot:hover {
  transform: scale(1.05);
}

/* Mise en forme du bouton "changer l'image" */
.change-image-button {
  padding: 8px 16px;
  background-color: #0074D9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.change-image-button:hover {
  background-color: #005fa3;
}

/* Titre de la carte dans le carousel */
.cartes-grid h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}

/* STYLE des Types */
.card-type {
  display: inline-block;
  padding: 3px 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

/* Types spécifiques avec des couleurs */
.type-plante { background-color: #7bbf3e; }
.type-poison { background-color: #9b4d97; }
.type-feu { background-color: #f44336; }
.type-eau { background-color: #2196F3; }
.type-electrik { background-color: #FFCA28; }
.type-glace { background-color: #00bcd4; }
.type-combat { background-color: #d32f2f; }
.type-insecte { background-color: #8bc34a; }
.type-spectre { background-color: #9c27b0; }
.type-psy { background-color: #9c27b0; }
.type-vol { background-color: #ff9800; }
.type-dragon { background-color: #3f51b5; }
.type-fée { background-color: #e91e63; }
.type-sol { background-color: #8d6e63; }
.type-acier { background-color: #b0bec5; }
.type-dark { background-color: #212121; }

/* Boutons de navigation */
.nav-button.left {
  position: absolute;
  top: 80%;
  right: 52%;
  padding: 1px 16%;
}

.nav-button.right {
  position: absolute;
  top: 80%;
  left: 52%;
  padding: 1px 16%;
}

/* Boutons SUPPRIMER AJOUTER */
.bouton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding: 2px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.bouton.ajouter {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  color: #39739d;
}

.bouton.ajouter:hover,
.bouton.ajouter:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.bouton.ajouter:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.bouton.ajouter:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.bouton.supprimer {
  background-color: #fce4e4;
  border-radius: 3px;
  border: 1px solid #f44336;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  color: #f44336;
}

.bouton.supprimer:hover,
.bouton.supprimer:focus {
  background-color: #f8d7da;
  color: #721c24;
}

.bouton.supprimer:focus {
  box-shadow: 0 0 0 4px rgba(255, 99, 71, .15);
}

.bouton.supprimer:active {
  background-color: #f1b0b7;
  box-shadow: none;
  color: #721c24;
}

/* Affichage de quantité de carte */
.quantity {
  position: relative;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin-left: 20px;
  display: inline-block;
  align-self: flex-start;
  left: 320px;
  bottom: 190px;
}